<h1 class="card-title"> Pet Adoption Application </h1>

<%= form_tag '/applications', method: :post, class: "form-group" do %>
  <h3> Please choose what pet(s) you would like to adopt:</h3>
  <div class="checkbox">
  <%= collection_check_boxes(:favorite, :pet_id, @favorite_pets, :id, :name) %>
  </div>
  <%= label_tag :name %><br/>
  <%= text_field_tag :name, nil, class: "form-control" %><br/>

  <%= label_tag :address %><br/>
  <%= text_field_tag :address, nil, class: "form-control" %><br/>

  <%= label_tag :city %><br/>
  <%= text_field_tag :city, nil, class: "form-control" %><br/>

  <%= label_tag :state %><br/>
  <%= text_field_tag :state, nil, class: "form-control" %><br/>

  <%= label_tag :zip %><br/>
  <%= number_field_tag :zip, nil, class: "form-control" %><br/>

  <%= label_tag :phone_number %><br/>
  <%= number_field_tag :phone_number, nil, class: "form-control" %><br/>

  <%= label_tag "Why would you make a good home for the pet(s)?" %><br/>
  <%= text_field_tag :description, nil, class: "form-control" %><br/>

  <div class="button">
    <%= submit_tag "Submit My Application", class: "btn btn-primary" %>
  </div>
<% end %>
